* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

:root {
    --very-light-gray:rgba(255, 255, 255, 0.5);
    --light-black: rgba(0, 0, 0, 0.5);
    --text-input-field: #F7F7F7;
    --planeta-geek-blue:#01ffff;
    --dark-blue: #191086;
    --purple-gray: #666481;
    --strong-blue: #181E41;
    --light-blue: #2B63B6;
    --white: #FFFFFF;
    --black: #000000;
    --ss: 1rem;
    --sm: 1.2rem;
    --md: 1.4rem;
    --lg: 2rem;
    --xlg: 5rem;
}

/* Header */

header {
    width: 100%;
    height: 9rem;
    display: flex;
    background: linear-gradient(214.02deg, var(--dark-blue) 6.04%, var(--light-blue) 92.95%);
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

header > div {
    width: 21rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

header > div a {
    display: block;
    width: 21rem;
    height: 7rem;
    text-align: center;
}

header > div a img {
    width: 100%;
}

header nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    /* width: 48.4rem; */
    height: 5rem;
}

.container__icono-menu {
	position: relative;
	right: 0;
}

.bi-list {
	position: absolute;
	margin-top: 0;
	right: 0rem;
	top: -2rem;
	margin-right: 1rem;
}

.bi-list:hover {
	cursor: pointer;
}

.container__main-menu, .container__icono-menu, .container__logo-personal {
	margin: 0;
}

nav #menu-dropdown {
    position: absolute;
	list-style: none;
    visibility: hidden;
	font-size: var(--sm);
	right: 0rem;
	top: -23rem;
	background: linear-gradient(214.02deg, var(--dark-blue) 6.04%, var(--light-blue) 92.95%);
    border: 0.1rem solid var(--white);
	transition: 0.5s ease all;
}

.container__icono-menu:hover > #menu-dropdown {
	visibility: visible;
	top: -4.35rem;
}

nav #menu-dropdown li {
	line-height: 3rem;
	border: 0.05rem solid var(--white);
    display: block;
    width: 15rem;
}

nav #menu-dropdown li:last-child {
	margin-bottom: 0;
}

nav #menu-dropdown a {
	text-decoration: none;
	display: block;
	color: white;
	padding: 1rem;
}

nav #menu-dropdown a:active {
	background-color: white;
	color: var(--dark-blue);
}

nav #main-menu {
	position: absolute;
	visibility: hidden;
    display: flex;
	right: 0;
    list-style: none;
    gap: 2rem;
}

nav #main-menu a {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    font-size: var(--lg);
}

/* Hero */

.hero {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding: 0.5rem;
}

.hero h1 {
    font-size: var(--lg);
}

.hero p {
    font-size: var(--sm);
}

.hero h1 span {
    color: var(--dark-blue);
}

.profile-pic__container {
    width: 13rem;
    height: 13rem;
    border: 0.3rem solid var(--dark-blue);
    border-radius: 20rem;
    overflow: hidden;
    text-align: center;
    margin: auto;
    position: relative;
}

.profile-pic__container img {
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: 15rem;
}

.jobs-container {
    position: relative;
    height: 20rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.job {
    position: absolute;
    height: 3.5rem;
    width: 9rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(214.02deg, var(--dark-blue) 6.04%, var(--light-blue) 92.95%);
    color: var(--white);
    padding: 0.5rem;
}

.journalist {
    top: -0.5rem;
    left: calc(50% - 4rem);
}

.narrator {
    top: 4rem;
    left: calc(50% - 15rem);
}

.producer {
    top: 4rem;
    left: calc(50% + 6rem);
}

.caster {
    top: 15rem;
    left: calc(50% - 13rem);
}

.fan {
    top: 15rem;
    left: calc(50% + 4rem);
}

/* Redes Sociales */

.social-section {
    width: 100%;
    height: 9rem;
    background-color: var(--strong-blue);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2rem;
}

.social-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--sm);
}

.social-section a {
    text-decoration: none;
    color: var(--very-light-gray);
}

/* Sobre Mí */

.about-me {
    width: 100%;
    min-height: 28rem;
    background: linear-gradient(214.02deg, var(--white) 6.04%, var(--purple-gray) 92.95%);
    padding: 2rem;
}

.about-me__title {
    display: flex;
    align-items: center;
}

.about-me__title h2 {
    font-family: 'Playfair Display', serif;
    color: var(--strong-blue);
    font-size: 3rem;
    border-bottom: 0.2rem solid var(--dark-blue);
}

.about-me__body {
    color: var(--light-black);
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.about-me__body p {
    font-size: var(--sm);
}

.about-me__body p:not(:first-child) {
    margin-top: 1rem;
}

.experience {
    /* display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center; */
    width: 100%;
    height: auto;
    padding: 2rem;
    /* margin-top: 1rem; */
}

.experience article {
    margin: 2rem auto 0;
}

.experience-intro h2 {
    font-size: var(--lg);
}

.experience-intro div h2 + p {
    color: var(--light-black);
    font-size: var(--sm);
}

.experience-intro__name {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
}

.experience-intro__name p {
    margin-left: 1rem;
}

.experience-intro__name p span {
    font-size: var(--sm);
}

.experience-intro__count p span:first-child {
    font-size: var(--lg);
    font-weight: 700;
}

.experience-intro__count p span:nth-child(3) {
    font-size: var(--md);
    color: var(--ligh-black);
}

.intro-img-container {
    border-radius: 50%;
    overflow: hidden;
}

.experience-intro img {
    width: 10rem;
}

.experience-intro__count {
    /* width: 80%; */
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    border-top: 0.1rem solid var(--black);
    padding-top: 1rem;
}

.experience-intro__count p {
    padding-top: 1rem;
}

.experience-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    justify-items: center;
}

.experience-details div {
    width: 13rem;
    height: 20rem;
    background: linear-gradient(214.02deg, var(--dark-blue) 6.04%, var(--light-blue) 92.95%);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}

.experience-details div h3 {
    font-size: var(--md);
    color: var(--white);
}

.experience-details div svg {
    color: var(--white);
    margin-bottom: 1rem;
    width: 2rem;
    height: 2rem;
}

.experience-details div p {
    font-size: var(--sm);
    color: var(--very-light-gray);
    margin-top: 1rem;
}

.experience-details img {
    width: 3rem;
}

.education {
    width: 100%;
    display: flex;
    background-color: var(--strong-blue);
    height: auto;
    position: relative;
    /* padding: 3rem; */
    min-height: 32rem;
}

.education article {
    width: 50%;
}

.education-info {
    width: 26rem;
    height: 32rem;
    position: absolute;
    text-align: center;
    left: calc(50% - 13rem);
}

.education img {
    width: 100%;
    height: 32rem;
    background-size: cover;
    /* visibility: hidden; */
}

.education-info h2 {
    margin-top: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: var(--white);
    font-size: var(--lg);
    border-top: 0.1rem solid var(--very-light-gray);
    padding-top: 0.5rem;
}

.education-info h3 {
    margin-top: 1rem;
    font-weight: 500;
    color: var(--white);
    font-size: var(--md);
}

.education-info p {
    color: var(--very-light-gray);
}

footer {
    width: 100%;
    min-height: 30rem;
    padding: 2rem;
    background-color: var(--black);
    color: var(--white);
}

footer h2 span {
    color: var(--light-blue);
}

form {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

form p {
    padding-top: 2rem;
}

form input, textarea {
    width: 13rem;
    background-color: var(--black);
    color: var(--very-light-gray);
    border: none;
    font-family: 'Poppins', sans-serif;
}

textarea {
    min-height: 5rem;
}

.email, .message, .subject {
    border-bottom: 0.1rem solid var(--very-light-gray);
}

form .name {
    color: var(--white);
    border-bottom: 0.1rem solid  var(--white);
}

form button {
    background: linear-gradient(214.02deg, var(--dark-blue) 6.04%, var(--light-blue) 92.95%);
    color: var(--white);
    height: 3rem;
    width: 11rem;
    border-radius: 1.2rem;
    border: none;
    margin-top: 6rem;
}

.btn-container {
    text-align: end;
}

.social-container {
    width: 28rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 4rem auto 0;
    justify-items: center;
}

.social-container svg {
    color: var(--very-light-gray);
}

/* Tablets */
@media (min-width: 700px) {
  
    header > div {
        width: 10rem;
        height: 3rem;
        margin-left: 3rem;
    }

    header > div a {
        width: 10rem;
        height: 3rem;
    }

    nav #main-menu a {
        font-size: var(--md);
    }

    .container__icono-menu {
        display: none;
    }

    nav #main-menu {
        position: static;
        justify-content: space-between;
        visibility: visible;
        align-items: center;
        margin-right: 3rem;
    }

    nav #main-menu li {
        padding: 0.8rem;
    }

    .about-me {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .about-me__body {
        padding-left: 1rem;
        border-left: 0.4rem solid var(--strong-blue);
        border-radius: 0.5rem;
    }

    .about-me__body p {
        font-size: var(--md);
    }

    .experience {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    .experience-details {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }

    .experience-intro__count {
        display: flex;
        justify-content: space-around;
    }

    footer h2 {
        text-align: center;
    }

    form input, textarea {
        width: 30rem;
    }
}

/* Desktop */
@media (min-width: 1140px) {

    header > div {
        width: 21rem;
        height: 7rem;
    }

    header > div a {
        width: 21rem;
        height: 7rem;
    }
    nav #main-menu a {
        font-size: var(--lg);
    }

    nav #main-menu {
        gap: 3rem;
    }

    nav #main-menu a:hover {
        color: var(--very-light-gray);
    }

    .hero {
        height: 50rem;
    }

    .hero h1 {
        font-size: var(--xlg);
    }

    .hero p {
        font-size: var(--lg);
    }

    .jobs-container {
        height: 36.4rem;
    }

    .profile-pic__container {
        width: 26rem;
        height: 26rem;
    }

    .profile-pic__container img {
        width: 29rem;
        left: -1.5rem;
    }

    .job {
        width: 16rem;
        height: 4rem;
        font-size: var(--md);
    }

    .journalist {
        top: -0.5rem;
        left: calc(50% - 8rem);
    }
    
    .narrator {
        top: 8rem;
        left: calc(50% - 30rem);
    }
    
    .producer {
        top: 8rem;
        left: calc(50% + 14rem);
    }
    
    .caster {
        top: 30rem;
        left: calc(50% - 27rem);
    }
    
    .fan {
        top: 30rem;
        left: calc(50% + 10rem);
    }

    .social-section {
        height: 12rem;
        margin-top: 4rem;
    }

    .social-section div {
        font-size: var(--lg);
    }

    .social-section a {
        transition: 0.3s;
    }

    .social-section a:hover {
        font-size: 2.3rem
    }

    .about-me {
        grid-template-columns: 1fr 3fr;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .about-me__body p {
        font-size: var(--lg);
    }

    .about-me__title h2 {
        font-size: var(--xlg);
    }

    .experience {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .experience-intro h2 {
        font-size: 2.5rem;
    }

    .experience-intro img {
        width: 10rem;
    }
    
    .experience-intro div h2 + p {
        font-size: var(--md);
    }

    .experience-intro__name p {
        font-size: var(--md);
    }

    .experience .experience-details {
        margin-top: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
    }

    .education {
        height: 50rem;
    }

    .education img {
        height: 50rem;
        visibility: visible;
    }

    .education-info {
        width: 40rem;
        height: 40rem;
        top: calc(50% - 20rem);
        left: calc(50% - 20rem);
    }

    .education-info h2 {
        font-size: 2.5rem;
    }

    .education-info h3 {
        font-size: var(--lg);
    }

    .education-info p {
        font-size: var(--md);
    }

    footer {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    footer h2 {
        font-size: 2.5rem;
    }

    footer button {
        width: 16rem;
        height: 4rem;
    }

    form button:hover {
        cursor: pointer;
        box-shadow: -1px -1px 5px 1px var(--very-light-gray), 
                    1px 1px 5px 1px var(--very-light-gray);
    }

    form button:active {
        background: var(--white);
        color: var(--dark-blue);
        font-weight: 700;
    }

    .social-container {
        gap: 5rem;
    }

    .social-container svg {
        width: 3.2rem;
        height: 3.2rem;
        transition: 0.3s;
    }

    .social-container svg:hover {
        width: 3.8rem;
        height: 3.8rem;
    }
}


/* Efecto de header interactivo */
/* Este código va combinado con código JS */
.header {
    transition: transform 0.8s;
}
.scroll-down .header {
    transform: translate3d(0, -500%, 0);
}
.scroll-up .header {
    transform: none;
}